@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?jp6smo');
  src:  url('fonts/icomoon.eot?jp6smo#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?jp6smo') format('truetype'),
    url('fonts/icomoon.woff?jp6smo') format('woff'),
    url('fonts/icomoon.svg?jp6smo#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-back:before {
  content: "\e900";
}
.icon-search:before {
  content: "\e901";
}
.icon-uniE902:before {
  content: "\e902";
}
